body {
  background-color: #99ccff;
}
#wrapp {
  width: 700px;
  height: 660px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #eee, -2px -2px 2px #eee;
  margin: 30px auto;
  background-color: #008080;
}
#player1,#player2 {
  width: 300px;
  height: 400px;
  float: left;
  margin: 25px;
  line-height: 400px;
  text-align: center;
  font-size: 88px;
  color: #333;
  font-weight: bold;
  user-select: none;
  border-radius: 7px;
  box-shadow: 2px 2px 2px #eee, -2px -2px 2px #eee;
}
#player1 {
  background: yellow;
}
#player2 {
  background: #99ff66;
}
.clear {clear: both;}

#player1WinDiv,#player2WinDiv {
  width: 300px;
  height: 60px;
  background: tomato;
  margin: 25px;
  float: left;
  line-height: 60px;
  text-align: center;
  font-size: 36px;
  color: #333;
  user-select: none;
  border-radius: 7px;
  box-shadow: 2px 2px 2px #eee, -2px -2px 2px #eee;
}
button {
  width: 600px;
  height: 60px;
  outline: none;
  background: #ffcc66;
  line-height: 50px;
  text-align: center;
  font-size: 37px;
  color: #333;
  margin: 50px;
  margin-top: 10px;
  border-radius: 7px;
  user-select: none;
}
